
.b_1 {
    position: absolute;
    left: 250px;
    top: 68px;
}

.b_2 {
    position: absolute;
    left: 250px;
    top: 100px;
}

.b_3 {
    position: absolute;
    left: 250px;
    top: 130px;
}

.b_4 {
    position: absolute;
    left: 250px;
    top: 160px;
}
