body {
    background: #EBEBEB;
    font-family: sans-serif;
}

button {
    font-size: 17px;
    margin: 5px;
}

.box {
    background-color: #24292e;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    background-color: green;
}

.footer {
    position: absolute;
    width: 99vw;
    bottom: 0;
    height: 2.5vh;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 70vw;
}