
.main-header-box {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    height: 190px;
    font-size: 0px;
}

.lpagelogin {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    bottom: 50vh;
    left: 25vw;
}

h1 {
    margin-top: 300px;
    text-align: center;
}

img {
    position: absolute;
    left: 42vw;
    width: 150px;
    margin-top: 15px;
}