.items {
	width:1700px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 600px 200px 600px 200px;
	grid-column-gap: 0px 30px;
	margin-top: 20px;
	margin-bottom: 100px;
	justify-items: center;

}
.item {
	background-color: lemonchiffon;
	width: 600px;
	height: 500px;
	margin-bottom: 20px;
}
.buybut {
	background-color: rgba(143, 183, 196, 0.726);
	width: 200px;
	height: 500px;
	margin-bottom: 20px;
	margin-left: -20px;
	display: flex;
	align-items: center;
	justify-content: center;
}