
.ws-act-box {
    width: 99vw;
    position: absolute;
    bottom: 4vh;
}
#logged_status {
    color: red;
    left: 10px;
    width: 400px;
    height: 40px;
}

.view_port {
    position: relative;
    margin-top: 5px;
    height: auto;
    background-color:#808080;
    border-radius: 2px;
    width: 99vw;
}

.ws_head_box {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    font-size: 1.2vw;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
}
button {
    background-color: #808080;
    width: 300px;
}
.ui {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 10px;
}
.menu {
    position: relative;
    top: 10px;
    height: 40px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 10px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color:#808080;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #24292e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #3e8e41}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  .keepbig {
    height: 80vh;
  }
  .basket_items {
    width:1700px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1000px 200px ;
    margin-top: 20px;
    margin-bottom: 100px;
    justify-items: center;
  }
  .basket_item {
    background-color: lemonchiffon;
    width: 1000px;
    height: 100px;
    margin-bottom: 20px;
  }
  .buybutbas {
    background-color: rgba(143, 183, 196, 0.726);
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .checkout {
    background-color: lemonchiffon;
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }