p {
	display: inline;
}
body {
	background-color: #505050;
}
main {
	position: relative;
	width: 1640px;
	margin: 0 auto;
}
.box {
	position: relative;
	background-color: #909090;
	border-radius: 15px;
	box-shadow: 10px 10px 5px black;
}
.top {
	position: relative;
	margin-left: 50px;
	margin-top: 30px;
	width: 1530px;
}
.topimg {
	margin-top: 10px;
	width: 500px;
	margin-left: 10px;
}
.leftimg {
	margin-left: 40px;
	height: 80px;
}
.panel {
	height: 465px;
}
.book {
	height: 100px;
	position: absolute;
	top: 10px;
	left: 40px;
}
.towel {
	height: 60px;
	position: absolute;
	top: 120px;
	left: 40px;
}
.brick {
	position: absolute;
	background-image: url(./resources/brick.jpg);
	background-repeat: repeat;
	width: 118px;
	height: 68px;
	left: 16px;
	top: 200px
}
.oet {
	height: 70px;
	border:solid 5px red;
	border-radius: 4px;
	margin-left: 40px;
}
.ui {
	position: relative;
	display: grid;
	grid-template-columns: 150px 1045px 150px;
	grid-gap: 30px;
	margin-left: 100px;
	margin-top: 20px;
}
.centerimg {
	margin: 10px;
}
#loop {
	position: absolute;
	right: 80px;
	bottom: -20px;
}
#reload {
	position: absolute;
	width: 20px;
	right: 10px;
	top: 10px;
}
#close {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.green {
	border-radius: 15px;
	position: absolute;
	height: 150px;
	width: 520px;
	background-color: #87ff88;
	box-shadow: 10px 10px 5px black;
	bottom: -50px;
}
.text {
	font-size: 18px;
	font-family: sans-serif;
}
.bigtext {
	font-family: sans-serif;
	flex-grow: 1;
	font-size: 23px;
	font-style: bold;
}
.inputtext {
	margin-left: 10px;
	width: 340px;
}
.textblock {
	margin: 10px;
}
.shadowText {
	font-size: 18px;
	text-shadow: 4px 5px 5px rgba(255,0,0,0.84);
}
.ikeabox {
	width: 100px;
	height: 150px;
}
.applebox {
	width: 200px;
	height: 150px;
}
.ikea {
	position: absolute;
	top: 350px;
	left: 370px;
}
.apple {
	position: absolute;
	top: 320px;
	left: 810px;
}