h1 {
	font-size: 3vw;
}
img {
	height:12.9vw;
	margin-right: 3vw;
}
table {
	position: absolute;
	left:4.5vw;
}
td {
	font-size: 1vw;
	border:solid 0.0065vw black;
}
th {
	font-size: 1vw;
	width: 3.245vw;
}
.symbol {
	font: bold;
	text-align: center;
	font-size: 0.97vw;
}
.molmass {
	font-size: 0.55vw;
	text-align: right;
	top: 0;
}
.number {
	bottom: 0;
	text-align: left;
	font-size: 0.55vw;
}
.star {
	text-align: right;
}
.alkali {
	background-color:indianred;
}
.alkaline {
	background-color:peachpuff;
}
.lanthanoids {
	background-color: orchid;
}
.actinoids {
	background-color: palevioletred;
}
.transitionm {
	background-color: salmon;
}
.poorm {
	background-color: darkcyan;
}
.metalloids {
	background-color: darkolivegreen;
}
.othernm {
	background-color: darkseagreen;
}
.halogene {
	background-color: rgb(233, 224, 93);
}
.noblegass {
	background-color: darkturquoise;
}
.other {
	background-color: rgb(180, 191, 202)
}
#period {
	position: relative;
	bottom: 0;
	font-size: 0.7vw
}
#group {
	position: relative;
	transform: rotate(-90deg);
	font-size: 0.7vw;
	top: 0;
	right:0;
}
.grow {
	flex-grow: 1;
}
header {
	display: flex;
}
td[colspan] {
	border:none;
	text-align: center;
}